.container {
        margin: 2rem;

        text-align: center;
}

.heading {
        margin-top: 1.5rem;
        color: var(--blue-green);
}

.subheading {
        text-transform: uppercase;
        font-size: 0.9rem;
        margin-top: 2rem;
        padding-bottom: 0.5rem;
        color: var(--red);
        border-bottom: 1px solid #ddd;
}

.subContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.details {
        margin-top: 1rem;
}

.FontAwesomeIcon {
        margin-left: 0.5rem;
}

.group {
        display: flex;
        flex-direction: column;
        align-items: center;
}

.warning {
        text-transform: uppercase;
        font-size: 1.3rem;
        color: var(--red);
}

@media (min-width: 700px) {
        .container {
                width: 90%;
                text-align: left;
        }

        .subContainer {
                flex-direction: row;
                justify-content: space-between;
        }

        .details {
                margin-top: 2rem;
        }

        .group {
                justify-content: center;
                align-items: flex-end;
        }
}
