.content {
        width: 100vw;
        height: 92vh;
        text-align: center;
        background-image: linear-gradient(
                        to right bottom,
                        rgba(0, 0, 0, 0.5),
                        rgba(255, 255, 255, 0.3)
                ),
                url('../../assets/images/Hero.jpg');

        background-position: center;
        background-size: cover;
}

.heading {
        color: white;

        text-align: center;

        font-size: 2rem;
        padding: 30vh 0.5rem 0.5rem 0.5rem;
}

.subheading {
        /* padding-top: 25rem; */
        font-size: 2rem;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
}

@media (min-width: 900px) {
        .heading {
                font-size: 3rem;
                padding-top: 35vh;
        }
}
