.DrawerToggle {
        width: 4rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        right: 0rem;
        top: 1rem;
        cursor: pointer;
        position: fixed;
        z-index: 200;
}

.DrawerToggle div {
        margin-top: 0.5rem;
        width: 50%;
        height: 3px;
        background-color: var(--red);
}

@media (min-width: 700px) {
        .DrawerToggle {
                display: none;
        }
}
