.Modal {
        position: fixed;
        z-index: 500;
        width: 90%;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px black;
        padding: 1.6rem;
        left: 5%;
        top: 20%;
        transition: all 0.3s ease-out;
}

@media (min-width: 700px) {
        .Modal {
                width: 70%;
                left: 15%;
        }
}
