.btn {
        padding: 1rem 2rem;
        border: 1px solid var(--red);
        background-color: var(--red);
        margin-top: 2rem;
        color: white;
        cursor: pointer;
        margin-right: 0.5rem;
        transition: all 0.3s;
}

.btn:disabled:hover,
.btn:disabled {
        background-color: white;
        color: gray;
        cursor: not-allowed;
}

.btn:focus {
        outline: none;
}

.btn:hover {
        color: var(--red);
        background-color: white;
}

.small,
.label {
        margin-top: 0.2rem;
        padding: 0.5rem;
}

.right {
        margin-left: 0.5rem;
}

.auth {
        margin: 0;
        margin-bottom: 2rem;
}
@media (min-width: 700px) {
        .right {
                margin-left: 73%;
        }
}

@media (max-width: 700px) {
        .accountChanges {
                margin-top: 2rem;
        }
}
@media (max-width: 800px) {
        .small {
                margin-left: 0.5rem;
                margin-top: 1rem;
                padding: 1rem 3rem;
        }
}
