.NavigationItems {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
}

@media (max-width: 700px) {
        .NavigationItems {
                width: 100vw;
                /* flex-direction: c */
        }
}
