.FontAwesomeIcon {
        color: var(--orange);
        margin-right: 0.5rem;
}

.heading {
        color: var(--red);
        margin-bottom: 0.5rem;
}
.container {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;

        margin: 0 auto;
}

@media (min-width: 700px) {
        .subCon {
                width: 50%;
        }
}
